* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--red: hsl(0, 78%, 62%);
	--cyan: hsl(180, 62%, 55%);
	--orange: hsl(34, 97%, 64%);
	--blue: hsl(212, 86%, 64%);
	--veryDarkBlue: hsl(234, 12%, 34%);
	--GrayishBlue: hsl(229, 6%, 66%);
	--VeryLightGray: hsl(0, 0%, 98%);
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	background-color: var(--VeryLightGray);
}
.wrapper {
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	text-align: center;
}

.header {
	margin: 40px auto;
	max-width: 600px;
}
.header h1 {
	font-size: 20px;
	font-weight: 200;
	color: var(--veryDarkBlue);
}
.header h2 {
	font-size: 20px;
	font-weight: 600;
}
.header p {
	margin-top: 10px;
	font-size: 14px;
	color: var(--GrayishBlue);
	text-align: center;
}
.card {
	padding: 20px;
	margin: 10px;
	width: 280px;
	height: 180px;
	background-color: white;
	border-radius: 7px;
	box-shadow: 10px 10px 30px var(--GrayishBlue);
	text-align: left;
}
.card h1 {
	font-size: 20px;
	font-weight: 600;
}
.card p {
	font-size: 15px;
	color: var(--GrayishBlue);
	text-align: left;
}

.suprevisor {
	border-top: 5px solid var(--cyan);
}

.icon {
	display: flex;
	justify-content: flex-end;
	height: 40px;
}
.team-builder {
	border-top: 5px solid var(--red);
}
.karma {
	border-top: 5px solid var(--orange);
}
.calculator {
	border-top: 5px solid var(--blue);
}

@media (min-width: 992px) {
	.header h1 {
		font-size: 40px;
	}

	.header h2 {
		font-size: 35px;
	}

	.header p {
		font-size: 20px;
	}

	.card {
		position: relative;
    width: 350px;
    height: 230px;
	}

  .card h1 {
    font-size: 26px;
  }

  .card p {
    font-size: 22px;
  }

  .icon {
    margin-top: 10px;
  }
	.suprevisor {
		right: 380px;
		top: 120px;
	}
	.team-builder {
		bottom: 200px;
	}
	.karma {
		bottom: 200px;
	}
	.calculator {
		left: 380px;
		bottom: 620px;
	}
}
